#outputSection {display: none;}
.cursive-title {font-family: 'Gochi Hand', cursive;}
.subtitle {font-family: 'Zen Maru Gothic', serif;}
.separator {
    border-top: 1px solid #4A4A4A;
    width: 50%;
    margin: 0 auto;
    display: none;
}
#output p {border-radius: 10px;}
.success {border: 4px solid #48C78E;}
.danger {border: 4px solid #F14668;}
#listComparator {margin-top: 10rem;}
.footer {margin-top: 6rem;}
